.nav-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  background-color: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.nav-contents ul {
  display: flex;
  gap: 40px;
}
.nav-contents li {
  font-size: 18px;
  font-weight: 500;
}
.logo h1 {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}
