* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: start;
}
.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1440px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  border: 0;
  cursor: pointer !important;
}
button:active {
  transform: scale(0.9);
}
